<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
	<meta name="description" content="Welcome to mutual cognizance, a new type of live social forum">
	<meta name="robots" content="all">
        <title>Graph Generator</title>
	<link rel="icon" href="{{base}}/GavinWeb.ico" type="image/x-icon">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{base}}/app/libraries/css/app.min.css" />
    <link rel="stylesheet" href="{{base}}/app/libraries/css/jquery.mCustomScrollbar.min.css" />
    {% block styles %}{% endblock %}
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='{{base}}/app/libraries/js/jquery.mCustomScrollbar.concat.min.js'></script>
</head>
<body style="overflow:hidden;">
<div class="modal fade" id="warning_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="warning_modalLabel">
	<div class="modal-dialog modal-md" style="z-index:1050;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Are you sure you want to visualize?</h4>
			</div>
            <div class="modal-body">
                Visualizing may lag your computer or cause your browser to crash due to the high number of edges
            </div>
			<div class="modal-footer">
				<button id="continue_visualizing" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
				<button type="button" class="btn" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>	
</div>
<div class="row" style="height:100%;">
	<div class="col-sm-3 graph_info">
        <div class="form-group" style="position:relative;"> 
			<label for="graph_type">Type</label>
            <div id="graph_type" contenteditable="true">
            </div>
            <div id="graph_type_options" style="display:none;">
				<div class='graph_type_option js_generated' value="tree">Tree</div>
				<div class='graph_type_option js_generated' value="btree">Binary Tree</div>
				<div class='graph_type_option js_generated' value="sparse">Sparse</div>
				<div class='graph_type_option js_generated' value="dense">Dense</div>
				<div class='graph_type_option js_generated' value="full">Fully Connected</div>
				<div class='graph_type_option js_generated' value="custom">Custom</div>
				<div class='graph_type_option num_fixed' value="petersen_graph">Petersen</div>
				<div class='graph_type_option num_fixed' value="house_graph">House</div>
				<div class='graph_type_option num_fixed' value="diamond_graph">Diamond</div>
				<div class='graph_type_option num_fixed' value="cubical_graph">Cubical</div>
				<div class='graph_type_option num_fixed' value="sedgewick_maze_graph">Sedgewick Maze</div>
				<div class='graph_type_option num_fixed' value="tutte_graph">Tutte</div>
				<div class='graph_type_option num_fixed' value="tetrahedral_graph">Tetrahedral</div>
				<div class='graph_type_option num_fixed' value="krackhardt_kite_graph">Krackhardt Kite</div>
            </div>
        </div>
		<div class="form-group opt num_opt">
			<label for="num_nodes">No. of nodes</label>
			<input value="20" placeholder="Default: 20" id="num_nodes" name="num_nodes" class="form-control" type="text">
		</div>
		<div class="form-group opt custom_opt nx_opt" style="display:none;">
			<label for="prob">Probability of edge inclusion</label>
			<input value=".5" placeholder="Default: .5" id="prob" name="prob" class="form-control" type="text">
		</div>
		<div class="row opt nx_opt">
			<div class="form-group col-sm-6">
				<label for="min_w">Min Weight</label>
				<input value="1" placeholder="Default: 1" id="min_w" name="min_w" class="form-control" type="text">
			</div>
			<div class="form-group col-sm-6">
				<label for="max_w">Max Weight</label>
				<input value="100" placeholder="Default: 100" id="max_w" name="max_w" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group" style="border:none;background-color:#ddd;">
			<label for="graph_algo">Algorithm</label>
			<select id="graph_algo" name="graph_algo" class="form-control">
				<option value="bmst">Boruvka Minimum Spanning Tree</option>
				<option value="dijkstra">Dijkstra Single Source Shortest Paths</option>
			</select>
		</div>
		<div class="row" style="display:none;">
			<div class="form-group col-sm-6">
				<label for="start">Start</label>
				<input value="0" placeholder="Default: 0" id="start" name="start" class="form-control" type="text">
			</div>
			<div class="form-group col-sm-6">
				<label for="max_w">End</label>
				<input value="-1" placeholder="Default: -1" id="end" name="end" class="form-control" type="text">
			</div>
		</div>
        <div><strong>Edge List</strong></div>
        <div style="font-size:14px;color:#555;margin-bottom:5px;">
            Nodes must be 0-indexed if manually input
        </div>
		<div id="graph_data" contenteditable="true">
		</div>
        <div><strong>Highlighted Edges / Algorithm Data</strong></div>
		<div id="highlight_edges" contenteditable="true">
		</div>
		<button id="graph_build" title="Generate list of nodes and edges" class="btn btn-primary opt">Build</button>
		<button id="graph_visualize" title="Visualize graph data" class="btn btn-primary">Visualize</button>
		<button id="graph_highlight" title="Highlight graph data" class="btn btn-primary">Highlight</button>
		<button id="graph_run" title="Run algorithm" class="btn btn-primary">Run</button>
	</div>
	<div class="col-sm-9 graph_cont">
	</div>
</div>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.ui.min.js'></script>
<script type="text/javascript">
	document.writeln("<script type='text/javascript' src='{{base}}/app/libraries/js/bootstrap.min.js'><" + "/script>");
	document.writeln("<script type='text/javascript' src='{{base}}/app/libraries/js/app.js'><" + "/script>");
</script>
</body>
</html>
