{% use 'common.twig' %}
<div class="big_content_box" id="main_cont_box">
<ul id="homeTabs" class="nav nav-tabs nav-justified">
	<li class="active"><a href="#hot" data-toggle="tab" style="color:#075de9">Hot</a></li>
	<li><a href="#new" data-toggle="tab" style="color:#075de9">New</a></li>
	<li><a href="#rising" data-toggle="tab" style="color:#075de9">Rising</a></li>
	{% if curr_community_id %}
		<li><a href="#removed" data-toggle="tab" style="color:#075de9">Removed</a></li>
	{% endif %}
</ul>
<div class="home_main_content" id="main_cont">
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="hot">
	<div id="chat_list">
		{% for chat in chats %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="new">
	<div id="chat_list">
		{% for chat in chats_new %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_new.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

<div class="tab-pane fade in" id="rising">
	<div id="chat_list">
		{% for chat in chats_rising %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_rising.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>

{% if curr_community_id %}
<div class="tab-pane fade in" id="removed">
	<div id="chat_list">
		{% for chat in chats_removed %} 
			{{ block('chat_box') }}
		{% endfor %}
	</div>
	<div class="page_links">
		{{chats_removed.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
</div>
{% endif %}

</div>
</div>
</div>

<div id="community_sub_replacement" class="small_content_box" style="display:none;">
	<div class="content side_content" id="subscribe">
		{% if user.community_admin == curr_community_id and curr_community_id | length > 0 %}
			<a class="btn btn-default btn-xs advanced_create" id="community_edit" href="#" data-toggle="modal" data-target="#community_edit_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Manage Community" data-container="body" data-placement="top"></div></a>
		{% endif %}
		<div><a href="{{site}}/c/{{curr_community.name}}" style="font-size:18px;color:#333;">{{curr_community.name}}{% if user %}{% if community_admin.user_id == user.id %} (Admin) {% elseif user.id in curr_community.moderators() %} (Mod) {% endif %}{% endif %}</a></div>
		<div style="margin:4px 0;">
			{% if user_subscribed %}
				<span><a href="{{site}}/community/unsubscribe/{{curr_community.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></span>
			{% else %}
				<span><a id="subscribe_btn" href="{{site}}/community/subscribe/{{curr_community.id}}" class="btn btn-success btn-xs">Subscribe</a></span>
			{% endif %}
			{% set community_subscribers = curr_community.subscribers | length %}
			<span style="font-size:16px;">{{community_subscribers}} Subscriber{% if community_subscribers != 1 %}s{% endif %}</span>
		</div>
		<div style="font-size:14px;"><div class="green_ball"></div> {{curr_community.online()}} online</div>
		<div id="community_id_str" style="display:none;">{{curr_community.id}}</div>
		<div id="community_info_str" style="display:none;">{{curr_community.raw_info}}</div>
		<div id="community_desc_str" style="display:none;">{{curr_community.description}}</div>
		{% if curr_community.info|length > 0 %}
			<div id="community_info">
				<br>
				{{curr_community.info|raw}}
			</div>
		{% endif %}
	</div>
</div>

<div id="community_info_replacement" class="small_content_box" style="display:none;">
	<div class="content side_content" id="create_cont">
		<div><strong>Admin</strong></div>
		{% if community_admin %}
			<div style="margin-left:10px;">
				<a href="{{site}}/u/{{community_admin.user.name}}">{{community_admin.user.name}}</a>
			</div>
		{% else %}
			{% if user.owned() < 1 and user_subscribed %}
				<a href="{{site}}/community/assign-admin/{{curr_community_id}}" style="margin-left:10px;">Become the admin</a>
			{% else %}
				<div style="font-size:14px;margin-left:10px;">No Admin</div>
			{% endif %}
		{% endif %}
		<div><strong>Moderators</strong></div>
		<div style="font-size:14px;margin-left:10px;">
			{% for mod in community_mods %}
				<div>
					{% if mod.user_id == user.id or community_admin.user_id == user.id %} 
						<span id="remove_mod_{{mod.user.id}}_{{curr_community_id}}" class="glyphicon glyphicon-remove remove_mod" data-toggle="tooltip" data-original-title="Remove Mod Powers" data-container="body" data-placement="top auto"></span>	
					{% endif %}
					<a href="{{site}}/u/{{mod.user.name}}">{{mod.user.name}}</a></div>
			{% else %}
				<div>No moderators</div>
			{% endfor %}
		</div>
	</div>
</div>
