{% block modals %}
<div class="modal fade" id="continue_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="continue_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chat Description</h4>
			</div>
			<div class="modal-body">
				<div id="curr_details">
					{{chat.details | raw}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="remove_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="remove_modalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Remove Post?</h4>
			</div>
			<div class="modal-footer">
				<a href="{{site}}/chat/soft-remove/" class="btn btn-primary" id="remove_chat_final" type="Submit">Yes</a>
				<button type="button" class="btn" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="members_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="members_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chat members</h4>
			</div>
			<div class="modal-body chat_member_cont">
			{% for member in chat.users %}
			{% if not loop.last %}
				<div class="chat_member light_divider_bottom">
					{% if member.pivot.active %}
						<a class="dark_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% else %}
						<a class="grey_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% endif %}
					{% if member.id != user.id %}
						<button class="btn btn-primary pull-right" style="margin-top:-6px;" id="request_friend" data-user-id="{{member.id}}" data-user-name="{{member.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Friend</button>
					{% endif %}
					{% if member.id != user.id and (user.name == chat.admin or serial == chat.admin) %}
						<button class="btn btn-default pull-right mod_user" style="margin-top:-6px;margin-right:5px;" id="mod_user_{{member.id}}" data-user-id="{{member.id}}" data-user-name="{{member.name}}" data-is-mod="{{member.pivot.is_mod}}"><div class="glyphicon glyphicon-tower"> </div> {% if member.pivot.is_mod %}Unmod{% else %}Mod{% endif %}</button>
					{% endif %}
				</div>
			{% else %}
				<div class="chat_member">
					{% if member.pivot.active %}
						<a class="dark_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% else %}
						<a class="grey_link" href="{{site}}/u/{{member.name}}">{{member.name}}</a>
					{% endif %}
					{% if member.id != user.id %}
						<button class="btn btn-primary pull-right" style="margin-top:-6px;" id="request_friend" data-user-id="{{member.id}}" data-user-name="{{member.name}}"><div class="glyphicon glyphicon-plus" id="request_glyph"> </div> Friend</button>
					{% endif %}
					{% if member.id != user.id and (user.name == chat.admin or serial == chat.admin) %}
						<button class="btn btn-default pull-right mod_user" style="margin-top:-6px;margin-right:5px;" id="mod_user_{{member.id}}" data-user-id="{{member.id}}" data-user-name="{{member.name}}" data-is-mod="{{member.pivot.is_mod}}"><div class="glyphicon glyphicon-tower"> </div> {% if member.pivot.is_mod %}Unmod{% else %}Mod{% endif %}</button>
					{% endif %}
				</div>
			{% endif %}
			{% endfor %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="keywords_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="keywords_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Search Keywords</h4>
			</div>
			<div class="modal-body">
				<small>*All searches are case insensitive</small>
				<ul class="list-unstyled">
					<li>
						<h4>Posts</h4>
						<ul>
							<li><strong>in</strong> (eg. 'Posts in science, philosophy')</li>
							<li><strong>about</strong> (eg. 'Posts about news')</li>
							<li><strong>here</strong> (eg. 'Posts about news in here')</li>
							<li><strong>by</strong> (eg. 'Posts by user1')</li>
							<li><strong>sfw</strong> (eg. 'sfw posts about funny')</li>
							<li><strong>nsfw</strong> (eg. 'nsfw posts about x')</li>
							<li><strong>static</strong> (eg. 'static posts about stories')</li>
							<li><strong>live</strong> (eg. 'live posts about smiling')</li>
						</ul>
					</li>
					<li>
						<h4>Communities</h4>
						<ul>
							<li><strong>named</strong> (eg. 'Communities named nature')</li>
							<!--<li><strong>similar to</strong> (eg. 'Communities similar to nature', if nature was a community)</li>
							<li><strong>about</strong> (eg. 'Communities about trees', if trees was a subject)</li>-->
						</ul>
					</li>
					<li>
						<h4>Users</h4>
						<ul>
							<li><strong>named</strong> (eg. 'Users named user1')</li>
							<li><strong>who like</strong> (eg. 'Users who like Inception')</li>
							<!--<li><strong>near</strong> (eg. 'Users near me')</li>-->
						</ul>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="message_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="message_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create new message</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/profile/message-user/" id="message_user_form">
				<input type="hidden" name="_token" value="{{csrf_token()}}">
				<textarea id="message_body" name="message_body" rows=5></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Send</button>
				</form>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="edit_message_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="edit_message_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit message</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/edit-message" id="edit_message_form">
				<input type="hidden" name="_token" value="{{csrf_token()}}">
				<input type="hidden" name="mssg_id" id="form_mssg_id">
				<textarea id="form_mssg_content" name="content" rows=5></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				</form>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="register_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="register_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="reg_modal_title" class="modal-title">Create an account or login</h4>
			</div>
			<div class="modal-body">
				<ul id="loginTabs" class="nav nav-tabs nav-justified">
					<li class="active"><a href="#register" data-toggle="tab">Sign up</a></li>
					<li><a href="#login" data-toggle="tab">Sign in</a></li>
				</ul>
<div id="tab_content" class="tab-content">

<div class="tab-pane fade active in" id="register">
				<form method="post" action="{{site}}/profile/register" class="mutual_form" id="register_form" style="margin-top:5px;">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="reg_user_group" class="form-group">
						<label for="username">Preferred Username</label>
						<input class="form-control" data-toggle="tooltip" data-placement="auto top" data-original-title="Username must be longer than 2 characters but less than 15" data-trigger="focus" data-container="body" type="text" name="username" id="reg_username" placeholder="Usernames are between 3 and {{max_user_length}} characters" maxlength="{{max_user_length}}">
					</div>
					<div id="reg_pass1_group" class="form-group">
						<label for="pass">Password</label>
						<input class="form-control" data-toggle="tooltip" data-placement="auto top" data-original-title="Password must be between 6 and 30 characters" data-trigger="focus" data-container="body" type="password" name="pass" id="reg_pass" placeholder="Passwords are between 6 and 30 characters" maxlength="30">
					</div>
					<div id="pass2_group" class="form-group">
						<label for="pass2">Confirm Password</label>
						<input class="form-control" data-toggle="popover" data-original-title="Passwords don't match" data-container="body" data-placement="auto top" data-trigger="focus" type="password" name="pass2" id="pass2" placeholder="Enter your password again">
					</div>
					<div id="email_group" class="form-group">
						<label for="pass2">Email <small>(optional, only for recovery purposes)</small></label>
						<input class="form-control" data-toggle="popover" data-original-title="Not a valid email" data-container="body" data-placement="auto top" data-trigger="focus" type="email" name="email" id="email" placeholder="Enter your email" maxlength="{{max_title_length}}">
					</div>
				</fieldset>
			<div class="modal-footer" style="padding:15px 0 0 0;">
				<button id="register_form_submit" class="btn btn-primary" type="submit">Sign up</button>
				</form>
				<button type="button" class="btn btn-success recover_account" data-toggle="modal" data-target="recover_modal">Account recovery</button>
				<button type="button" class="btn close_reg" data-dismiss="modal">Close</button>
			</div>
</div>
<div class="tab-pane fade in" id="login">
				<form method="post" action="{{site}}/profile/login" class="mutual_form" id="mobile_login_form" style="margin-top:5px;">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="mobile_user_group" class="form-group">
						<label for="username">Username</label>
						<input class="form-control" data-toggle="tooltip" data-placement="auto top" data-original-title="Username or password incorrect" data-trigger="focus" data-container="body" type="text" name="username" id="mobile_username" placeholder="Enter your username" maxlength="{{max_user_length}}">
					</div>
					<div id="mobile_pass1_group" class="form-group">
						<label for="pass">Password</label>
						<input class="form-control" type="password" name="pass" id="mobile_pass" placeholder="Enter your password" maxlength="30">
					</div>
				</fieldset>
			<div class="modal-footer" style="padding:15px 0 0 0;">
				<button id="login_form_submit" class="btn btn-primary" type="submit">Sign in</button>
				</form>
				<button type="button" class="btn btn-success recover_account" data-toggle="modal" data-target="recover_modal">Account recovery</button>
				<button type="button" class="btn close_reg" data-dismiss="modal">Close</button>
			</div>
</div>

</div>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="recover_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="recover_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Recover Account</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/profile/recover/" id="recover_account_form">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="recovery_email_cont" class="form-group">
						<div><strong>Account email</strong></div>
						<div style="margin-bottom:5px;"><small>Your username and a link to change your password will be sent to your email</small></div>
						<input class="form-control" type="email" name="recovery_email" id="recovery_email" placeholder="Enter your account email" maxlength="100">
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Recover account</button>
				</form>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="edit_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="edit_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Chat</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/edit-chat" class="mutual_form" id="home_form_v3">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="id_group" class="form-group">
						<input class="form-control" type="hidden" name="chat_id" id="form_chat_id">
					</div>
					<div id="title_group_v3" class="form-group">
						<label for="Title_v3">Title</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Titles must be unique and have between 5 and {{max_title_length}} characters" data-trigger="focus" type="text" name="title" id="Title_v3" placeholder="What's this chat about?" maxlength="{{max_title_length}}">
					</div>
					<div id="link_group_v3" class="form-group">
						<label for="Link_v3">Link <small>(optional)</small></label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Not a valid url" data-trigger="focus" type="text" name="link" id="Link_v3" placeholder="Add a link (optional)" maxlength="{{max_static_length}}">
					</div>
					<div id="communities_group_v3" class="form-group">
						<label for="Communities_v3">Communities</label>
						<input class="form-control communities_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Communities" data-placement="bottom" type="text" name="communities" id="Communities_v3" placeholder="Use spaces to separate communities (max: 5)" autocomplete="off" maxlength="120">
					</div>
					<div id="description_group_v3" class="form-group">
						<label for="description">Description <small>(optional)</small></label>
						<textarea name="description" data-toggle="tooltip" data-placement="top" data-original-title="Descriptions have a max length of {{max_static_length}} characters" data-trigger="focus" class="form-control" id="description_v3" rows="5" maxlength="{{max_static_length}}"></textarea>
					</div>
					<div class="row">
						<div id="nsfw_group" class="checkbox col-xs-6" style="margin-top:10px;">
							<label>
								<input type="checkbox" name="nsfw" id="nsfw_v3"> nsfw <div class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="NSFW posts don't show up on the front page and only show pictures in nsfw communities" style="margin-left:5px;"></div>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="chat_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="chat_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create a Chat</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/chat/new-chat" class="mutual_form" id="home_form_v2">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="title_group_v2" class="form-group">
						<label for="Title_v2">Title</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Title must be have between 5 and {{max_title_length}} characters" data-trigger="focus" type="text" name="title" id="Title_v2" placeholder="What's this chat about?" maxlength="{{max_title_length}}">
					</div>
					<div id="link_group_v2" class="form-group">
						<label for="Link_v2">Link <small>(optional)</small></label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Not a valid url" data-trigger="focus" type="text" name="link" id="Link_v2" placeholder="Add a link (optional)">
					</div>
					<div id="communities_group_v2" class="form-group">
						{% if not curr_community_id %}
							<label for="Communities_v2">Communities</label>
						{% endif %}
						<input class="form-control communities_input" data-toggle="popover" data-content="<div>Some content</div>" data-original-title="Suggested Communities" data-placement="bottom" type="{% if curr_community_id %}hidden{% else %}text{% endif %}" name="communities" id="Communities_v2" placeholder="Use spaces to separate communities (max: 5)" autocomplete="off" {% if curr_community_id %}value="#{{curr_community.name}}"{% endif %} maxlength="120">
					</div>
					<div id="description_group" class="form-group">
						<label for="description">Description <small>(optional)</small></label>
						<textarea name="description" data-toggle="tooltip" data-placement="top" data-original-title="Descriptions have a max length of {{max_static_length}} characters" data-trigger="focus" class="form-control" id="description" rows="5" maxlength="{{max_static_length}}"></textarea>
					</div>
					<div class="row">
						<div id="nsfw_group" class="checkbox col-xs-6" style="margin-top:10px;">
							<label>
								<input type="checkbox" name="nsfw" id="nsfw_v2"> nsfw <div class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="NSFW posts don't show up on the front page and only show pictures in nsfw communities" style="margin-left:5px;"></div>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Create</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="community_create_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="community_create_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Community</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/community/create-community" class="mutual_form" id="community_create_form">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="create_name_group" class="form-group">
						<label for="name">Community Name</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Community name must be unique" data-trigger="focus" type="text" name="community_name" id="create_community_name" placeholder="Communities are between 3 and 20 characters" maxlength="20">
					</div>
					{% if user.is_admin %}
					<div id="create_tier_group" class="form-group">
						<label for="tier">Community Tier</label>
						<select class="form-control">
							<option value="0">Community</option>
							<option value="1">Category</option>
						</select>
					</div>
					{% endif %}
					<div id="create_desc_group" class="form-group">
						<label for="description">Community Description (Doesn't show up in sidebar)</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Description must be a max of {{max_description_length}} characters" data-trigger="focus" type="text" name="description" id="create_community_desc" placeholder="Write a very short description of the content in your community" maxlength="{{max_description_length}}">
					</div>
					<div id="create_info_group" class="form-group">
						<label for="info">Community Info (Sidebar Description, Posting Rules, etc)</label>
						<textarea class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Info must be a max of {{max_info_length}} characters" data-trigger="focus" name="info" id="create_community_info" rows=8 maxlength="{{max_info_length}}"></textarea>
					</div>
				</fieldset>
				<small>You will be able to request mods after community creation by clicking the manage community button in the sidebar</small>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="community_edit_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="community_edit_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Community</h4>
			</div>
			<div class="modal-body">
				<form method="post" action="{{site}}/community/edit-community" class="mutual_form" id="community_edit_form">
				<fieldset>
					<input type="hidden" name="_token" value="{{csrf_token()}}">
					<div id="community_id_group" class="form-group">
						<input class="form-control" type="hidden" name="community_id" id="input_community_id" maxlength="20">
					</div>
					<div id="community_desc_group" class="form-group">
						<label for="description">Community Description (Doesn't show up in sidebar)</label>
						<input class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Description must be a max of {{max_description_length}} characters" data-trigger="focus" type="text" name="description" id="edit_community_desc" placeholder="Write a very short description of the content in your community" maxlength="{{max_description_length}}">
					</div>
					<div id="community_info_group" class="form-group">
						<label for="info">Community Info (Sidebar Description, Posting Rules, etc)</label>
						<textarea class="form-control" data-toggle="tooltip" data-placement="top" data-original-title="Info must be a max of {{max_info_length}} characters" data-trigger="focus" name="info" id="edit_community_info" rows=10 maxlength="{{max_info_length}}"></textarea>
					</div>
					<div id="mod_info_group" class="form-group">
						<label for="mods" style="width:100%;">Appoint mods (max:20) <small>*must be subscribed </small><small id="mod_request_sent" class="green_color pull-right" style="display:none;">Request Sent</small></label>
						<input class="form-control" data-toggle="popover" data-user-id="" data-community-id="{{curr_community_id}}" data-community-name="{{curr_community.name}}" data-content="<div>Some content</div>" data-container="body" data-placement="auto top" type="text" name="mods" id="mod_input" placeholder="Use enter or mouse to select from list" autocomplete="off" maxlength="{{max_user_length}}">
					</div>
					<div id="admin_info_group" class="form-group">
						<label for="admins" style="width:100%;">Appoint new admin <small>*must be subscribed </small><small id="admin_request_sent" class="green_color pull-right" style="display:none;">Request Sent</small></label>
						<input class="form-control" data-toggle="popover" data-user-id="" data-community-id="{{curr_community_id}}" data-community-name="{{curr_community.name}}" data-content="<div>Some content</div>" data-container="body" data-placement="auto top" type="text" name="admins" id="admin_input" placeholder="Use enter or mouse to select from list" autocomplete="off" maxlength="{{max_user_length}}">
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="Submit">Save</button>
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>	
</div>
<div class="modal fade" id="tag_info_modal" aria-hidden="false" tabindex="-1" role="dialog" aria-labelledby="tag_info_modalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div><a href="{{site}}/c/{{curr_community.name}}" style="font-size:18px;color:#333;">{{curr_community.name}}{% if user %}{% if community_admin.user_id == user.id %} (Admin) {% elseif user.id in curr_community.moderators() %} (Mod) {% endif %}{% endif %}</a></div>
			</div>
			<div class="modal-body">
				<div style="margin-top:5px;">
					{% if user_subscribed %}
						<span><a href="{{site}}/community/unsubscribe/{{curr_community.id}}" class="btn btn-danger" style="width:100%;">Unsubscribe</a></span>
					{% else %}
						<span><a id="subscribe_btn" href="{{site}}/community/subscribe/{{curr_community.id}}" class="btn btn-success" style="width:100%;">Subscribe</a></span>
					{% endif %}
					{% set community_subscribers = curr_community.subscribers | length %}
					<div style="font-size:16px;margin-top:5px;">{{community_subscribers}} Subscriber{% if community_subscribers != 1 %}s{% endif %}</div>
				</div>
				<div style="font-size:14px;"><div class="green_ball"></div> {{curr_community.online()}} online</div>
				{% if curr_community.info|length > 0 %}
					<div id="community_info">
						<br>
						{{curr_community.info|raw}}
					</div>
				{% endif %}
				<div><strong>Admin</strong></div>
				{% if community_admin %}
					<div style="margin-left:10px;">
						<a href="{{site}}/u/{{community_admin.user.name}}">{{community_admin.user.name}}</a>
					</div>
				{% else %}
					{% if user.owned() < 1 and user_subscribed %}
						<a href="{{site}}/community/assign-admin/{{curr_community_id}}" style="margin-left:10px;">Become the admin</a>
					{% else %}
						<div style="font-size:14px;margin-left:10px;">No Admin</div>
					{% endif %}
				{% endif %}
				<div><strong>Moderators</strong></div>
				<div style="font-size:14px;margin-left:10px;">
					{% for mod in community_mods %}
						<div>
							{% if mod.user_id == user.id or community_admin.user_id == user.id %} 
								<span id="remove_mod_{{mod.user.id}}_{{curr_community_id}}" class="glyphicon glyphicon-remove remove_mod" data-toggle="tooltip" data-original-title="Remove Mod Powers" data-container="body" data-placement="top auto"></span>	
							{% endif %}
							<a href="{{site}}/u/{{mod.user.name}}">{{mod.user.name}}</a></div>
					{% else %}
						<div>No moderators</div>
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
