{% extends 'layout.twig' %}
{% use 'common.twig' %}
{% use 'side_bar.twig' %}
{% use 'navbar.twig' %}
{% use 'modals.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block side_bar %}
	{{parent()}}
{% endblock %}

{% block content %}
<div class="big_content_box" id="main_cont_box">
<div class="content main_content" id="main_cont">
<div>
Hello beautiful site visitors, we here at mutual cognizance respect your privacy and have built this
site so you have the option of being completely anonymous in all your activities on the site. 
We believe this will prevent any pesky organizations and/or *cough* governments from learning too much
about you. 
</div>

<div>
If you do decide to create a profile we promise to do our best to give out any personally identifying
information but remember that by creating a profile on any site, you do so at your own risk. 
So don't put any information on there that could be personally damaging. In any case, you should
be able to create a profile and still be able to browse the site much like an anonymous user, the only
difference being that whatever name you choose will be attached to your comments.
</div>

<br/>

<div>
Now to some specifics:
</div>

<br/>

<div>
<b>Changes to policy</b>
</div>
<div>
We may change our policy from time to time but we will be sure to notify our users to any major changes.
</div>
<br/>


<div>
<b>Data Security</b>
</div>
<div>
Currently the site is not ssl encrypted and for a time it will probably not need to be as you shouldn't
have to store any personal information. As the site evolves however, it may become necessary and we
will make a transition to heavier security as we see fit. For now, we promise to do our best 
to protect your data within our means.
</div>

<br/>

<div>
<b>Privacy of your comments</b>
</div>
<div>
Your comments for open posts are completely visible to the public, but can be deleted by you within
a 60 minute time frame if you're anonymous or whenever if you have registered with us. 
</div>

<br/>

<div>
<b>How anonymity works on mutual cognizance</b>
</div>
<div>
Your anonymous id lasts approx. 8 hours if you stay idle on the website. If you move around
or participate in a chat, it can effectively last for as long as you like. Your id is unique
and will be yours for as long as you are active on the site. 
</div>

<br/>

<div>
<b>Children under 13</b>
</div>
<div>
Under the <a href="http://www.ftc.gov/ogc/coppa1.htm">Children's Online Privacy Protection Act of 1998</a>,
children under 13 cannot register with us. If you are anonymous, feel free to continue to browse as no 
information will ever be generated on anonymous users. However, there may be certain sections of this site
that are inappropriate for certain age groups, and we do not claim responsibility for any content that is
produced on this site.
</div>
</div>
</div>
{% endblock %} 
