<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
	<meta name="description" content="Welcome to mutual cognizance, a new type of live social forum">
	<meta name="robots" content="all">
        <title>Mutual Cognizance</title>
	<link rel="icon" href="{{base}}/GavinWeb.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{base}}/app/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{base}}/app/libraries/css/home_style.min.css?{{version}}" />
        <link rel="stylesheet" href="{{base}}/app/libraries/css/jquery.mCustomScrollbar.min.css" />
        {% block styles %}{% endblock %}
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script src='{{base}}/app/libraries/js/jquery.mCustomScrollbar.concat.min.js'></script>
</head>
<body class="navbar_blue_background">
{% block header %}{% endblock %}
{% block modals %}{% endblock %}
<div class="wrapper">
	{% block content %}{% endblock %}
</div>
<script src="//{{io_url}}/socket.io/socket.io.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment.min.js'></script>
<script type="text/javascript">
	document.writeln("<script type='text/javascript' src='{{base}}/app/bower_components/bootstrap/dist/js/bootstrap.min.js'><" + "/script>");
	document.writeln("<script type='text/javascript' src='{{base}}/app/libraries/js/home.min.js?{{version}}'><" + "/script>");
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24332662-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% block scripts %}{% endblock %}
</body>
</html>
