{% block side_bar %}
<div id="chat_tool_box" class="small_content_box tool_box" {% if not is_live_chat and not is_static_chat %}style="display:none;"{% endif %}>
	<div class="content box_r_0 side_content">
		<div id="user_toolbox">
			{% if chat.live %}
				<span class="glyphicon glyphicon-link visible_live permalink mutual_tooltip" id="permalink" data-page-link="{{site}}/chat/static/{{chat.id}}" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Permalink"></span>
			{% endif %}
			<span class="glyphicon glyphicon-list show_users mutual_tooltip" id="show_users" data-chat-id="{{chat.id}}" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Show chat members"></span>
			{% if chat.live %}
				<span class="glyphicon glyphicon-stop visible_live stop_scroll mutual_tooltip" id="stop_scroll" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Stop scrollbar"></span>
			{% endif %}
			<!--<span class="glyphicon glyphicon-list" id="show_users" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Show chat users"></span>-->
			{% if user.name == chat.admin or serial == chat.admin %}
			{% if chat.live %}
				<span class="glyphicon glyphicon-pause pause mod_power pause_chat mutual_tooltip" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Pause chat"></span>
				<span class="glyphicon glyphicon-warning-sign visible_live mod_power warn_user mutual_tooltip" id="warn_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Warn user"></span>
				<span class="glyphicon glyphicon-remove visible_live mod_power kick_user mutual_tooltip" id="kick_user" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Ban user"></span>
			{% else %}
				<span class="glyphicon glyphicon-play play mod_power pause_chat mutual_tooltip" id="pause_chat" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Play chat"></span>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>

<div id="welcome_user" class="small_content_box">
	<div class="content side_content">
		<div style="display:none;" id="sid" data-sid="{{sid}}"></div>
		<div {% if not logged_in %}style="margin-bottom:5px;"{% endif %}>Welcome, 
		{% if not user %}
			<div id="serial_id" style="display:none;">{{serial_id}}</div>
			<span id="serial_tracker">{{serial}}</span>
		{% else %}
			<div id="serial_id" style="display:none;">{{serial_id}}</div>
			<div id="serial_tracker" style="display:none;">{{serial}}</div>
			<div id="user_id" style="display:none;">{{user.id}}</div>
			<a class="pull-right btn btn-default btn-xs mutual_tooltip" href="{{site}}/profile/logout" data-toggle="tooltip" data-container="body" data-original-title="Logout"><div class="glyphicon glyphicon-log-out"></div></a>
			<a style="margin-right:5px;" class="pull-right btn btn-default btn-xs mutual_tooltip" href="#" data-toggle="tooltip" data-container="body" data-original-title="Settings"><div class="glyphicon glyphicon-cog"></div></a>
			<span><a href="{{site}}/u/{{user.name}}" style="color:{{color_arr[serial % 7]}};"><strong id="user_tracker">{{user.name}}</strong></a></span>
		{% endif %}
		{% if not user %}
		<span class="pull-right"><a href="#" data-toggle="modal" class="register_link" data-target="#register_modal">Sign up/in?</a></span>
		{% endif %}
		</div>
		<div id="logged_in" style="display:none;">{% if logged_in %}1{% else %}0{% endif %}</div>
		{% if not logged_in %}
			<form method="post" action="{{site}}/profile/login" class="mutual_form" id="login_form">
			<input type="hidden" name="_token" value="{{csrf_token()}}">
			<fieldset>
				<div id="user_group" class="form-group">
					<input class="form-control input-sm" data-toggle="tooltip" data-placement="auto top" data-original-title="Username or password incorrect" data-trigger="focus" data-container="body" type="text" name="username" id="username" placeholder="Enter your username" maxlength="{{max_user_length}}">
				</div>
				<div id="pass1_group" class="form-group">
					<input class="form-control input-sm" type="password" name="pass" id="pass" placeholder="Enter your password" maxlength="30">
				</div>
				<button class="btn btn-primary" type="Submit" style="width:100%;">Sign in</button>
			</fieldset>
			</form>
		{% else %}
			<div class="progress progress-striped active" title="Cognizance: {{user.cognizance}}/{{user.next_level}}">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{user.cognizance}}" aria-valuemin="0" aria-valuemax="{{user.next_level}}" style="width:{{(user.cognizance / user.next_level) * 100}}%;">
					<span class="sr-only">Only {{user.cognizance}}% Complete</span>
				</div>
			</div>
			<div class="row" style="margin:10px 0 0 0;">
				<button class="btn btn-sm col-xs-3 btn-default request_btn" id="friend_requests" title="Friend requests" data-toggle="popover" data-content="
					{% for request in user.friendNotifications %}
						{{request.message}}
					{% else %}
						<div class='request_text'>No friend requests</div>
					{% endfor %}" data-container="body" data-placement="bottom">
					<div class="glyphicon glyphicon-user request_glyph {% if user.friendNotifications|length > 0 %}pull-left{% endif %}" id="friend_request_glyph"></div>
					<span class="badge pull-right" id="friend_requests_count">{% if user.friendNotifications|length > 0 %}{{user.friendNotifications|length}}{% endif %}</span>
				</button>
				<button class="btn btn-sm col-xs-offset-1 col-xs-4 btn-default request_btn" id="mssg_requests" title="Message requests" data-toggle="popover" data-content="
					{% for request in user.mssgNotifications %}
						{{request.message}}
					{% else %}
						<div class='request_text'>No messages</div>
					{% endfor %}" data-container="body" data-placement="bottom">
					<div class="glyphicon glyphicon-envelope request_glyph {% if user.mssgNotifications|length > 0 %}pull-left{% endif %}" id="message_request_glyph"></div>
					<span class="badge pull-right" id="mssg_requests_count">{% if user.mssgNotifications|length > 0 %}{{user.mssgNotifications|length}}{% endif %}</span>
				</button>
				<button class="btn btn-sm col-xs-offset-1 col-xs-3 btn-default request_btn" id="global_requests" title="Global requests" data-toggle="popover" data-content="
					{% for request in user.globalNotifications %}
						{{request.message}}
					{% else %}
						<div class='request_text'>No global requests</div>
					{% endfor %}" data-container="body" data-placement="bottom">
					<div class="glyphicon glyphicon-globe request_glyph {% if user.globalNotifications|length > 0 %}pull-left{% endif %}" id="global_request_glyph"></div>
					<span class="badge pull-right" id="global_requests_count">{% if user.globalNotifications|length > 0 %}{{user.globalNotifications|length}}{% endif %}</span>
				</button>
			</div>
		{% endif %}
	</div>
</div>

<div id="creation_box" class="small_content_box">
	<div class="content side_content" style="padding:0;">
		<button class="menu_top btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#chat_modal">Create new post</button>
		<button class="menu_middle btn btn-primary" id="create_community" style="width:100%;" data-toggle="modal" data-target="#community_create_modal">Create community</button>
		<a href="{{site}}/chat/random" class="menu_bottom btn btn-primary" style="width:100%;" title="Jump into a random chat">Jump into chat</a>
	</div>
</div>

<div id="chat_description_box" class="small_content_box" {% if not is_live_chat %}style="display:none;"{% endif %}>
	<div class="content box_r_2 side_content">
<div class="chat_title_vote_box">
	{% if chat.id in upvoted %}
		<span class="glyphicon glyphicon-menu-up chat_big_upvote js_upvote green_color" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="chat_upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-menu-down chat_big_downvote js_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% elseif chat.id in downvoted %}
		<span class="glyphicon glyphicon-menu-up chat_big_upvote js_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="chat_upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-menu-down chat_big_downvote js_downvote red_color" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% else %}
		<span class="glyphicon glyphicon-menu-up chat_big_upvote js_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="chat_upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-menu-down chat_big_downvote js_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% endif %}
</div>
<div class="chat_title_cont">
<div class="chat_id" id="chat_{{chat.id}}">{{chat.title}}</div>
<div style="color:#777;font-size:12px;margin-left:25px;">
	{% if chat.admin % 275604541 == 0 %}
		<div class="chat_info" id="chat_admin" data-admin-name="{{chat.admin}}">Created by 
			<a href="{{site}}/u/{{chat.admin}}">
				<strong>
					{% if chat.author.is_admin or chat.author.is_mod %}
						<span class="red_color">{{chat.admin}}{% if chat.author.is_admin %}[A]{% elseif chat.author.is_mod %}[M]{% endif %}</span></strong></a>,
					{% elseif curr_community_id %}
						{% if chat.admin_id == community_admin.user_id or chat.admin_id in curr_community.moderators() %}
							<span class="green_color">{{chat.admin}}{% if chat.admin_id == community_admin.user_id %}[CA]{% elseif chat.admin_id in curr_community.moderators() %}[CM]{% endif %}</span></strong></a>,
						{% else %}
							{{chat.admin}}{% if chat.author.is_admin %}[A]{% elseif chat.author.is_mod %}[M]{% endif %}</strong></a>,
						{% endif %}
					{% else %}
						{{chat.admin}}{% if chat.author.is_admin %}[A]{% elseif chat.author.is_mod %}[M]{% endif %}</strong></a>,
					{% endif %}
	{% else %}
		<div class="chat_info">Created by <strong>{{chat.admin}}</strong>, 
	{% endif %}
	{% set time_passed = server_time|date('U') - chat.created_at|date('U') %}
	<span class="chat_time" id="{{chat.created_at}}">
		{% if time_passed < 45 %}
			seconds ago
		{% elseif time_passed < 2700 %}
			{% if time_passed < 90 %}
				a minute ago
			{% else %}
				{{(time_passed/60)|round}} minutes ago
			{% endif %}
		{% elseif time_passed < 79200%}
			{% if time_passed < 5400 %}
				an hour ago
			{% else %}
				{{(time_passed/3600)|round}} hours ago
			{% endif %}
		{% elseif time_passed < 2160000 %}
			{% if time_passed < 129600 %}
				a day ago
			{% else %}
				{{(time_passed/86400)|round}} days ago
			{% endif %}
		{% elseif time_passed < 29808000 %}
			{% if time_passed < 3888000 %}
				a month ago
			{% else %}
				{{(time_passed/2592000)|round}} months ago
			{% endif %}
		{% else %}
			{% if time_passed < 47260800 %}
				a year ago
			{% else %}
				{{(time_passed/31536000)|round}} years ago
			{% endif %}
		{% endif %}
	</span>
	in Communities:
	{% for community in chat.communities %}
		<span><a href="{{site}}/c/{{community.name}}"><strong>#{{community.name}}</strong></a> </span>
	{% endfor %}
</div>
</div>
<div class="chat_community_str" style="display:none;">#{{chat.communities|join(' #')}}</div>
<div class="chat_link_str" style="display:none;">{{chat.link}}</div>
<div class="chat_title_str" style="display:none;">{{chat.title}}</div>
<div class="chat_desc_str" style="display:none;">{{chat.raw_details}}</div>
<div class="chat_live_str" style="display:none;">{{chat.live}}</div>
<div class="chat_nsfw_str" style="display:none;">{{chat.nsfw}}</div>
<div class="chat_id_str" style="display:none;">{{chat.id}}</div>
<div class="top_5">
{% if user.name == chat.admin or serial == chat.admin %}
	<button class="btn btn-primary fill_cont bottom_5 edit_chat_link" data-toggle="modal" data-target="edit_modal">Edit Chat</button>
{% else %}
	{% if chat.details | length > 0 %}
		<button class="btn btn-primary fill_cont" data-toggle="modal" data-target="#continue_modal">Read Description</button>
	{% endif %}
{% endif %}
</div>
</div>
	</div>
</div>

<div id="community_sub_box" class="small_content_box" {% if not is_community %}style="display:none;"{% endif %}>
	<div class="content side_content" id="subscribe">
		{% if user.community_admin == curr_community_id and curr_community_id | length > 0 %}
			<a class="btn btn-default btn-xs advanced_create" id="community_edit" href="#" data-toggle="modal" data-target="community_edit_modal"><div class="glyphicon glyphicon-cog advanced_cog" data-toggle="tooltip" data-original-title="Manage Community" data-container="body" data-placement="top"></div></a>
		{% endif %}
		<div><a href="{{site}}/c/{{curr_community.name}}" style="font-size:18px;color:#333;">{{curr_community.name}}{% if user %}{% if community_admin.user_id == user.id %} (Admin) {% elseif user.id in curr_community.moderators() %} (Mod) {% endif %}{% endif %}</a></div>
		<div style="margin:4px 0;">
			{% if user_subscribed %}
				<span><a href="{{site}}/community/unsubscribe/{{curr_community.id}}" class="btn btn-danger btn-xs">Unsubscribe</a></span>
			{% else %}
				<span><a id="subscribe_btn" href="{{site}}/community/subscribe/{{curr_community.id}}" class="btn btn-success btn-xs">Subscribe</a></span>
			{% endif %}
			{% set community_subscribers = curr_community.subscribers | length %}
			<span style="font-size:16px;">{{community_subscribers}} Subscriber{% if community_subscribers != 1 %}s{% endif %}</span>
		</div>
		<div style="font-size:14px;"><div class="green_ball"></div> {{curr_community.online()}} online</div>
		<div id="community_id_str" style="display:none;">{{curr_community.id}}</div>
		<div id="community_info_str" style="display:none;">{{curr_community.raw_info}}</div>
		<div id="community_desc_str" style="display:none;">{{curr_community.description}}</div>
		{% if curr_community.info|length > 0 %}
			<div id="community_info">
				<br>
				{{curr_community.info|raw}}
			</div>
		{% endif %}
	</div>
</div>

<div id="community_info_box" class="small_content_box" {% if not is_community %}style="display:none;"{% endif %}>
	<div class="content side_content" id="create_cont">
		<div><strong>Admin</strong></div>
		{% if community_admin %}
			<div style="margin-left:10px;">
				<a href="{{site}}/u/{{community_admin.user.name}}">{{community_admin.user.name}}</a>
			</div>
		{% else %}
			{% if user.owned() < 1 and user_subscribed %}
				<a href="{{site}}/community/assign-admin/{{curr_community_id}}" style="margin-left:10px;">Become the admin</a>
			{% else %}
				<div style="font-size:14px;margin-left:10px;">No Admin</div>
			{% endif %}
		{% endif %}
		<div><strong>Moderators</strong></div>
		<div style="font-size:14px;margin-left:10px;">
			{% for mod in community_mods %}
				<div>
					{% if mod.user_id == user.id or community_admin.user_id == user.id %} 
						<span id="remove_mod_{{mod.user.id}}_{{curr_community_id}}" class="glyphicon glyphicon-remove remove_mod mutual_tooltip" data-toggle="tooltip" data-original-title="Remove Mod Powers" data-container="body" data-placement="top auto"></span>	
					{% endif %}
					<a href="{{site}}/u/{{mod.user.name}}">{{mod.user.name}}</a></div>
			{% else %}
				<div>No moderators</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
