{% extends 'layout.twig' %}
{% use 'common.twig' %}
{% use 'side_bar.twig' %}
{% use 'navbar.twig' %}
{% use 'modals.twig' %}

{% block header %} 
	{{parent()}}
{% endblock %}

{% block friend_list %}
	{{parent()}}
{% endblock %}

{% block pm_bar %}
	{{parent()}}
{% endblock %}

{% block modals %}
	{{parent()}}
{% endblock %}

{% block side_bar %}
	{{parent()}}
{% endblock %}

{% block content %}
<div class="big_content_box" id="main_cont_box">
<div class="static_chat_content">
<div class="static_title_vote_box">
	{% if chat.id in upvoted %}
		<span class="glyphicon glyphicon-menu-up big_upvote js_upvote" id="upvote_{{chat.id}}" style="color:#57bf4b" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-menu-down big_downvote js_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% elseif chat.id in downvoted %}
		<span class="glyphicon glyphicon-menu-up big_upvote js_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-menu-down big_downvote js_downvote" id="downvote_{{chat.id}}" style="color:red;" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% else %}
		<span class="glyphicon glyphicon-menu-up big_upvote js_upvote" id="upvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="top"></span>
		<div class="upvote_count" id="votes_{{chat.id}}">{{chat.upvotes - chat.downvotes}}</div>
		<span class="glyphicon glyphicon-menu-down big_downvote js_downvote" id="downvote_{{chat.id}}" data-toggle="tooltip" data-original-title="You must be logged in to vote on posts" data-container="body" data-placement="bottom"></span>
	{% endif %}
</div>
{% if chat.image %}
	<a class="pull-left link_thumbnail" href="{{chat.link}}">
		<img src="{{chat.image}}" alt="Image Error" width="80" height="80">
	</a>
{% endif %}
<div class="static_chat_title">
	<div id="chat_admin_info" style="display:none;">{{chat.admin}}</div>
	{% if chat.link %}
		<a class="chat_id" id="chat_{{chat.id}}" href="{{chat.link}}">{{chat.title}}</a> <span class="site_name">from {{chat.site_name}}</span>
	{% else %}
		<a class="chat_id" id="chat_{{chat.id}}" href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}">{{chat.title}}</a>
	{% endif %}
	{% if chat.admin % 16777259 == 0 %}
		<div class="chat_info">Created by <a href="{{site}}/u/{{chat.admin}}" style="color:gray;"><strong>{{chat.admin}}</strong></a>, 
	{% else %}
		<div class="chat_info">Created by <strong>{{chat.admin}}</strong>, 
	{% endif %}
		{% set time_passed = server_time|date('U') - chat.created_at|date('U') %}
		<span class="chat_time" id="{{chat.created_at}}">
			{% if time_passed < 45 %}
				seconds ago
			{% elseif time_passed < 2700 %}
				{% if time_passed < 90 %}
					a minute ago
				{% else %}
					{{(time_passed/60)|round}} minutes ago
				{% endif %}
			{% elseif time_passed < 79200%}
				{% if time_passed < 5400 %}
					an hour ago
				{% else %}
					{{(time_passed/3600)|round}} hours ago
				{% endif %}
			{% elseif time_passed < 2160000 %}
				{% if time_passed < 129600 %}
					a day ago
				{% else %}
					{{(time_passed/86400)|round}} days ago
				{% endif %}
			{% elseif time_passed < 29808000 %}
				{% if time_passed < 3888000 %}
					a month ago
				{% else %}
					{{(time_passed/2592000)|round}} months ago
				{% endif %}
			{% else %}
				{% if time_passed < 47260800 %}
					a year ago
				{% else %}
					{{(time_passed/31536000)|round}} years ago
				{% endif %}
			{% endif %}
		</span>
		in Communities:
		{% for community in chat.communities %}
			<span class="chat_communities"><a href="{{site}}/c/{{community.name}}"><strong>#{{community.name}}</strong></a> </span>
		{% endfor %}
		and <a href="{{site}}/chat/{% if chat.live %}live{% else %}static{% endif %}/{{chat.id}}" style="color:gray;"><strong>{{chat.messages | length }} comments</strong></a>
	</div>
	<div class="chat_details" {% if chat.link %}style="margin-left:80px;"{% endif %}>
		{{chat.details | raw}}
	</div>
</div>
</div>
</div>

<div class="big_content_box" style="margin-top:15px;margin-bottom:15px;">
<div id="up_arr" style="display:none;">{{mssg_upvoted | json_encode()}}</div>
<div id="down_arr" style="display:none;">{{mssg_downvoted | json_encode()}}</div>
	<div class="static_chat_content">
	{% for message in messages %}
		{% if loop.first %}
			{% set init_y = message.y_dim %}
		{% endif %}
		{% if message.res_num <= init_y + 11 - message.y_dim %}
		{% if not loop.first and prev_y >= message.y_dim %}
			{% for i in message.y_dim..prev_y %}
				</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if message.y_dim == init_y %}
		<div class="response_to_{{message.responseto}} static_mssg_cont y_{{message.y_dim}} parent_{{message.parent}}" id="mssg_cont_{{message.id}}">
		{% else %}
		<div class="response_to_{{message.responseto}} static_mssg_cont y_{{message.y_dim}} parent_{{message.parent}} {% if message.y_dim > init_y + 3 %}hidden-xs {% endif %}{% if message.y_dim > init_y + 5 %}hidden-sm {% endif %}{% if message.y_dim > init_y + 8 %}hidden-md {% endif %}{% if message.y_dim > init_y + 12 %}hidden-lg {% endif %}pad_l_10" id="mssg_cont_{{message.id}}">
		{% endif %}
		{% block static_mssg_cont %}
			{{parent()}}
		{% endblock %}
		{% for response in message.descendants %}
			{% if not loop.first and prev_y == response.y_dim %}
				{% for i in response.y_dim..prev_y %}
					{% if prev_mssg.responses > 6 or (prev_mssg.y_dim == 2 and prev_mssg.responses > 0) %} <!-- closes previous message -->
						<a class="load_more" href="{{site}}/chat/load-more/{{prev_mssg.id}}"><strong>Load more</strong></a>
					{% endif %}
					</div>
					</div>
				{% endfor %}
			{% elseif not loop.first and prev_y > response.y_dim %}
				{% for i in response.y_dim..prev_y %}
					{% if loop.last %}
						{% if prev_mssg.mssgParent.responses > 6 %} <!-- closes previous message -->
							<a class="load_more" href="{{site}}/chat/load-more/{{prev_mssg.responseto}}"><strong>Load more</strong></a>
						{% endif %}
					{% else %}
						{% if prev_mssg.y_dim == 2 and prev_mssg.responses > 0 %} <!-- closes previous message -->
							<a class="load_more" href="{{site}}/chat/load-more/{{prev_mssg.id}}"><strong>Load more</strong></a>
						{% endif %}
					{% endif %}
					</div>
					</div>
				{% endfor %}
			{% endif %}
			<div class="response_to_{{response.responseto}} static_mssg_cont y_{{response.y_dim}} parent_{{response.parent}} {% if response.y_dim > 3 %}hidden-xs {% endif %}{% if response.y_dim > 5 %}hidden-sm {% endif %}{% if response.y_dim > 8 %}hidden-md {% endif %}{% if response.y_dim > 12 %}hidden-lg {% endif %}pad_l_10" id="mssg_cont_{{response.id}}">
				{% block static_resp_cont %}
					{{parent()}}
				{% endblock %}
			{% set prev_y = response.y_dim %}
			{% if loop.last %}
				{% if response.y_dim > 1 %}
					{% for i in 1..response.y_dim %}
						{% if response.responses > 1 %}
							<a class="load_more" href="{{site}}/chat/load-more/{{response.id}}"><strong>Load more</strong></a>
						{% endif %}
						</div>
						</div>
					{% endfor %}
				{% else %}
					{% if response.responses > 6 %}
						<a class="load_more" href="{{site}}/chat/load-more/{{response.id}}"><strong>Load more</strong></a>
					{% endif %}
					</div>
					</div>
				{% endif %}
			{% endif %}
			{% set prev_mssg = response %}
		{% else %}
		{% endfor %}
	{% if message.responses > 6 %}
		<a class="load_more" href="{{site}}/chat/load-more/{{message.id}}"><strong>Load more</strong></a>
	{% endif %}
		{% set prev_y = message.y_dim %}
		{% endif %}
		{% if loop.last %}
			{% if message.y_dim > init_y %}
				{% for i in init_y..message.y_dim %}
					</div>
					</div>
				{% endfor %}
			{% else %}
				</div>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
	{% endfor %}
	<div class="page_links">
		{{messages.links|raw}}
	</div>
	<div class="policy">
		<span style="margin-left:-104px;"><a href="{{site}}/privacy">Privacy Policy</a></span> |
		<span><a href="{{site}}/terms">Terms of Use</a></span>
	</div>
	</div>
</div>
{% endblock %}
